In [1]:
file = open('moon.txt', mode = 'r', encoding='utf-8')
text = file.read()
file.close()

In [5]:
print(text)

The moon is the satellite of the earth. It moves round the earth. It shines at night by light reflected from the Sun. It looks beautiful. The bright Moonlight is very soothing. The earthly objects shine like silver in the moonlight. We are fascinated by the enchanting beauty of the Moon. The moon is not as beautiful as it looks. It seems to be lovely when it shines in the sky at night. As a matter of fact it is devoid of plants and animals. The moon is not a suitable place for plants and animals. Therefore, no form of life can be found on the moon. Unlike the earth, the moon has got no atmosphere. Therefore, the lunar days are very hot and the lunar nights are intensely cold. The moon looks beautiful from the earth but in fact it has up forbidding appearance. It is full of rocks and craters. When we look at the moon at night we see some dark spots on it. These dark spots are dangerous rocks and craters. The gravitational pull of the moon is less than that of the earth, so it is difficult to walk on the surface of the Moon. The moon has fascinated man since the beginning of his life on the earth. He has looked at it with wonder. Many poets have composed beautiful poems on the moon. Scientists tried to reveal the mystery of the moon. They wanted to send human to the moon. Several attempts were made to place man on the moon. At last two Americans-Neil Armstrong and Edwin Aldrin-reached the moon on July 21, 1969. They walked on the surface of the moon and collected the lunar rocks. They returned to the earth safely. The American scientists have sent men to the moon several times. Now the moon has been conquered by man. It is no longer a mysterious object. The journey of the moon may be thrilling but it cannot make our life on the earth happy. It is better to have a happy life on the earth then to go to the moon.

In [7]:
import re
def clean_text(text):
    text=text.lower()
    text=re.sub('[,.\n]','',text)
    text = re.sub('-', ' ', text)
    return text

cleaned_text = clean_text(text)

In [9]:
cleaned_text

'the moon is the satellite of the earth it moves round the earth it shines at night by light reflected from the sun it looks beautiful the bright moonlight is very soothing the earthly objects shine like silver in the moonlight we are fascinated by the enchanting beauty of the moon the moon is not as beautiful as it looks it seems to be lovely when it shines in the sky at night as a matter of fact it is devoid of plants and animals the moon is not a suitable place for plants and animals therefore no form of life can be found on the moon unlike the earth the moon has got no atmosphere therefore the lunar days are very hot and the lunar nights are intensely cold the moon looks beautiful from the earth but in fact it has up forbidding appearance it is full of rocks and craters when we look at the moon at night we see some dark spots on it these dark spots are dangerous rocks and craters the gravitational pull of the moon is less than that of the earth so it is difficult to walk on the surface of the moon the moon has fascinated man since the beginning of his life on the earth he has looked at it with wonder many poets have composed beautiful poems on the moon scientists tried to reveal the mystery of the moon they wanted to send human to the moon several attempts were made to place man on the moon at last two americans neil armstrong and edwin aldrin reached the moon on july 21 1969 they walked on the surface of the moon and collected the lunar rocks they returned to the earth safely the american scientists have sent men to the moon several times now the moon has been conquered by man it is no longer a mysterious object the journey of the moon may be thrilling but it cannot make our life on the earth happy it is better to have a happy life on the earth then to go to the moon'

# **Finding the most Frequent words**

In [12]:
import spacy

In [14]:
# Loading spacy model
nlp = spacy.load("en_core_web_sm")

In [16]:
doc = nlp(cleaned_text)

In [34]:
words_dict={}

# Add word-count pair to the dictionary
for token in doc:
    # Check if the word is already in dictionary 
    if token.text in words_dict:
        # Increment count of word by 1 
        words_dict[token.text]=words_dict[token.text]+1
    else:
        # Add the word to dictionary with count 1 
        words_dict[token.text]=1

In [36]:
import pandas as pd

In [38]:
df = pd.DataFrame({'word':list(words_dict.keys()), 'count':list(words_dict.values())})
df.sort_values(by='count', ascending = False, inplace = True, ignore_index = True)
df

     word  count
0     the     47
1    moon     21
2      it     15
3      of     13
4      to     11
..    ...    ...
146  some      1
147   see      1
148  look      1
149  full      1
150    go      1

[151 rows x 2 columns]

In [40]:
df.shape

(151, 2)

In [42]:
df.head(5)

   word  count
0   the     47
1  moon     21
2    it     15
3    of     13
4    to     11

In [44]:
print(nlp.Defaults.stop_words)

{'every', 'his', 'noone', '’ve', 'much', 'neither', 'onto', 'own', 'several', 'yet', 'had', 'nobody', 'himself', 'show', 'that', 'doing', 'into', 'some', 'nevertheless', 'he', 'behind', 'across', 'what', 'get', 'were', 'hereafter', 'enough', 'amongst', 'few', 'within', 'whereby', 'whereupon', 'in', 'ten', 'a', '‘ve', '’d', 'such', 'most', 'eleven', 'cannot', 'five', 'him', 'already', '’m', 'all', 'often', 'alone', 'anywhere', 'six', 'so', 'see', 'why', 'seem', 'wherein', 'whole', 'nothing', 'front', 'indeed', 'whoever', 'their', 'n’t', 'no', 'beforehand', 'we', 'toward', 'whereafter', 'she', 'hereupon', 'it', 'once', 'each', "'re", 'while', 'together', 'under', 'full', 'below', 'formerly', 'same', 'her', 'me', 'keep', 'herself', 'sixty', 'i', 'however', 'part', 'again', 'does', 'before', 'bottom', 'nor', 'beside', 'myself', 'upon', 'amount', 'move', 'thereby', 'could', 'too', 'sometime', 'towards', 'mine', 'since', 'therefore', 'nine', 'well', 'otherwise', 'using', 'must', 'at', 'ourselves', 'name', 'quite', 'say', 'whence', 'three', 'ever', 'used', 'my', 'been', 'between', 'from', 'back', '’ll', 'but', 'are', 'you', 'whereas', 'if', 'being', 'else', 'more', 'even', 'yourself', 'be', '‘m', 'four', 'further', 'on', 'am', 'and', 'put', 'something', 'afterwards', 'then', 'themselves', 'until', 'has', 'became', 'whom', 'either', 'which', 'thence', 'off', 'yours', '’s', 'hundred', 'least', 'how', 'hereby', 'still', 'along', 'two', 'hers', 'another', 'seeming', 'through', 'seemed', 'us', 'those', 'itself', 'less', 'anyone', 'who', 'top', 'whenever', 'please', 'latter', 'everyone', 'to', 'over', 'them', 'none', '‘re', 're', 'mostly', 'many', 'though', 'beyond', 'this', 'although', 'almost', 'ca', 'except', 'therein', 'thereupon', 'they', "'m", 'everything', 'above', 'n‘t', 'out', 'our', 'ours', 'twenty', 'very', 'forty', 'up', 'go', 'may', 'here', 'against', "n't", 'because', 'whatever', 'someone', 'without', 'also', 'fifty', 'than', 'about', 'the', 'just', 'eight', 'not', 'really', 'elsewhere', 'side', 'sometimes', 'as', 'everywhere', "'ve", 'of', 'twelve', 'per', 'nowhere', 'next', 'thereafter', 'yourselves', 'among', 'namely', 'an', 'always', 'is', 'or', 'serious', 'thus', 'might', 'whose', 'can', 'made', 'have', 'take', 'was', "'s", 'become', 'should', 'these', 'anyway', 'due', 'where', 'around', 'now', 'somehow', 'after', 'any', 'your', 'never', 'unless', 'besides', 'with', 'whither', 'anything', 'wherever', 'by', 'anyhow', 'becoming', 'various', 'will', 'moreover', '‘ll', 'thru', 'other', "'d", 'former', 'third', 'others', 'meanwhile', 'empty', 'rather', 'only', 'done', '‘s', "'ll", 'one', 'make', 'regarding', 'latterly', 'herein', 'becomes', 'for', 'do', 'there', 'via', 'would', 'somewhere', 'both', '’re', 'first', 'give', 'last', 'hence', 'during', 'whether', 'did', 'when', 'fifteen', '‘d', 'down', 'perhaps', 'throughout', 'seems', 'call', 'its'}

In [46]:
len(nlp.Defaults.stop_words)

326

In [48]:
new_tokens=[token.text for token in doc if (token.is_stop == False)]

In [52]:
print(new_tokens)

['moon', 'satellite', 'earth', 'moves', 'round', 'earth', 'shines', 'night', 'light', 'reflected', 'sun', 'looks', 'beautiful', 'bright', 'moonlight', 'soothing', 'earthly', 'objects', 'shine', 'like', 'silver', 'moonlight', 'fascinated', 'enchanting', 'beauty', 'moon', 'moon', 'beautiful', 'looks', 'lovely', 'shines', 'sky', 'night', 'matter', 'fact', 'devoid', 'plants', 'animals', 'moon', 'suitable', 'place', 'plants', 'animals', 'form', 'life', 'found', 'moon', 'unlike', 'earth', 'moon', 'got', 'atmosphere', 'lunar', 'days', 'hot', 'lunar', 'nights', 'intensely', 'cold', 'moon', 'looks', 'beautiful', 'earth', 'fact', 'forbidding', 'appearance', 'rocks', 'craters', 'look', 'moon', 'night', 'dark', 'spots', 'dark', 'spots', 'dangerous', 'rocks', 'craters', 'gravitational', 'pull', 'moon', 'earth', 'difficult', 'walk', 'surface', 'moon', 'moon', 'fascinated', 'man', 'beginning', 'life', 'earth', 'looked', 'wonder', 'poets', 'composed', 'beautiful', 'poems', 'moon', 'scientists', 'tried', 'reveal', 'mystery', 'moon', 'wanted', 'send', 'human', 'moon', 'attempts', 'place', 'man', 'moon', 'americans', 'neil', 'armstrong', 'edwin', 'aldrin', 'reached', 'moon', 'july', '21', '1969', 'walked', 'surface', 'moon', 'collected', 'lunar', 'rocks', 'returned', 'earth', 'safely', 'american', 'scientists', 'sent', 'men', 'moon', 'times', 'moon', 'conquered', 'man', 'longer', 'mysterious', 'object', 'journey', 'moon', 'thrilling', 'life', 'earth', 'happy', 'better', 'happy', 'life', 'earth', 'moon']

In [54]:
new_words_dict = {}

for token in new_tokens:
    if token in new_words_dict:
        new_words_dict[token] = new_words_dict[token]+1
    else:
        new_words_dict[token] = 1

In [58]:
new_df = pd.DataFrame({'word': list(new_words_dict.keys()), 'count':list(new_words_dict.values())})

In [60]:
new_df.sort_values(by='count', ascending= False, inplace = True, ignore_index = True)

In [62]:
new_df

          word  count
0         moon     21
1        earth      9
2         life      4
3    beautiful      4
4        looks      3
..         ...    ...
92  atmosphere      1
93         got      1
94      unlike      1
95       found      1
96      better      1

[97 rows x 2 columns]

In [64]:
new_df.shape

(97, 2)

In [70]:
new_df.head()

        word  count
0       moon     21
1      earth      9
2       life      4
3  beautiful      4
4      looks      3